<!DOCTYPE html>
<html>
    <head>
        {{ partial "head.html" . }}
y<script defer data-domain="kornakiewi.cz" src="https://plausible.io/js/script.js"></script>

        <title>{{ .Title }}</title>
    </head>
    <body>
        <div class="section" id="splash">

                {{ range .Site.Params.mainMenu }}
                    <div class="big-link">
                        <a href="{{.link}}">
                            {{.text}}
                        </a>
                    </div>
                {{ end }}
            
        </div>
    </body>
</html>
